@{
    ViewBag.Title = "Access Denied";
}

<div class="align-items-center">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block text-danger"> Access Denied :(</span>
                <div class="mb-4 display-6 text-secondary">You don't have access to the Action You're trying to make</div>
                <a asp-controller="home" asp-action="index" class="btn btn-link">Back to Home</a>
            </div>
        </div>
    </div>
</div>