@model UserClaimsViewModel

@{
    ViewBag.Title = "Manage User's Claims";
}

<form method="post">
    <div class="card">
        <div class="card-header">
            Edit Roles of User
        </div>
        <div class="card-body">
            <input type="hidden" asp-for="UserId">
            @for (int i = 0; i < Model.Claims.Count; i++)
            {
                <div class="form-check">
                    <input asp-for="@Model.Claims[i].ClaimType" type="hidden">
                    <label class="form-check-label">
                        <input asp-for="@Model.Claims[i].IsSelected" class="form-check-input">
                        @Model.Claims[i].ClaimType
                    </label>
                </div>
            }
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-outline-dark">Update</button>
            <a asp-action="EditUser" asp-route-id="@Model.UserId" class="btn btn-outline-secondary">Cancel</a>
        </div>
    </div>
</form>


