<div class="align-items-center">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <div class="display-6"> Your Account is locked for 5 Minutes due to invalid Login attempts</div>
                <span class="display-3 d-block text-danger">Account Locked :(</span>
                <a asp-controller="ForgotPassword" asp-action="Account" class="btn btn-outline-secondary mt-3">Reset Password</a>
            </div>
        </div>
    </div>
</div>