
@model AddPasswordViewModel

<form method="post" asp-action="AddPassword" asp-controller="Account">

    <h3>Add Password</h3>

    <p class="text-info">You can use password for external login <br /> Use your Email address as username</p>

    <div class="mb-3">
        <label asp-for="NewPassword" class="form-label">New Password</label>
        <input asp-for="NewPassword" class="form-control">
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ConfirmNewPassword" class="form-label">Confirm Password</label>
        <input asp-for="ConfirmNewPassword" class="form-control">
        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>

    <button type="submit" class="btn btn-primary">Save</button>

</form>