<div class="align-items-center">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <div class="mb-4 display-6">Password Reset Successfully Successfully (:</div>
                <span class="display-3 d-block text-success">Welcome!</span>
                <a asp-controller="account" asp-action="login" class="btn btn-outline-secondary mt-3">Login</a>
            </div>
        </div>
    </div>
</div>